input{
    width: 500px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 20px;

}
select{
  width: 513px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 20px;
}
#btn{

  margin-left: 100px;
  margin-top: 20px;
  height: 40px;
  width: 250px;
  border-radius: 5px;
}